<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - My Notes App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js"></script> <!-- Link to the new JavaScript file -->
  </head>
  <body>
    <header>
      <h1>My Notes App</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="dashboard">
        <h2>Your Dashboard</h2>
        <p>Welcome to Notes, {{ current_user.username }}!</p>
        <br>

        <section class="new-note">
          <h3>Create a New Note</h3>
          <form action="/dashboard" method="post">
            <div class="form-group">
              <label for="note_title">Title:</label>
              <input type="text" id="note_title" name="note_title" required />
            </div>
            <div class="form-group">
              <label for="note_content">Content:</label>
              <textarea id="note_content" name="note_content" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn">Save Note</button>
          </form>
        </section>

        <section class="notes-list">
          <h3>Your Notes</h3>
          <br>
          <ul>
            {% for note in notes %}
              <li>
                <h4 class="note-title">{{ note.title }}</h4>
                <p class="note-content">{{ note.content }}</p>
                <div class="actions">
                  <button class="btn edit-btn" onclick="toggleEdit('{{ note.id }}')">Edit</button>
                  <button class="btn delete-btn" onclick="deleteNote('{{ note.id }}')">Delete</button>
                  <form id="edit-form-{{ note.id }}" action="/edit_note/{{ note.id }}" method="post" style="display:none;">
                    <input type="text" name="note_title" value="{{ note.title }}" required />
                    <textarea name="note_content" required>{{ note.content }}</textarea>
                    <button type="submit" class="btn">Save</button>
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>
      </section>
    </main>

    <footer>
      <p>&copy; Dhrubo Gonsalves 2025 My Notes App</p>
    </footer>
  </body>
</html>
