<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - My Notes App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>My Notes App</h1>
      <nav>
        <ul>
         <!-- <li><a href="/">Home</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
      <li><a href="/dashboard">Dashboard</a></li>-->
        </ul>
      </nav>
    </header>

    <main>
      <section class="welcome">
        <h2>Welcome to My Notes App</h2>
        <p>
          Keep all your notes in one place. Sign up today or log in if you already have an account.
        </p>
        <br>
        <div class="actions">
          <a class="btn" href="/signup">Sign Up</a>
          <a class="btn" href="/login">Log In</a>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; Dhrubo Gonsalves 2025 My Notes App</p>
    </footer>
  </body>
</html>
